.musicVideos {
  color: var(--yellow);
  display: grid;
  gap: 30px 56px;
  padding: 28px 30px;
  /*grid-template-rows: 1fr 1fr 1fr;*/
  grid-template-columns: 1fr 1fr;
}

.musicVideos h1 {
  margin: 13px 0;
  font-size: 14px;
  line-height: 1.17;
  font-weight: 200;
  text-transform: uppercase;
}

.musicVideos h2 {
  font-size: 18px;
  line-height: 20px;
  margin: 11px 0;
  max-height: 54px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.element {
}

.musicVideos iframe {
  width: 100% !important; /* Overwrite anything set on the iframe itwelf */
  /*height: auto;*/
  height: 50vh;
  border: none;
}
