.titleContainer {
  width: 100vw;
}

.titleCard {
  text-transform: uppercase;
  position: relative;
  margin-top: -8%;
  z-index: 100;

  width: 55vw;
  min-height: 23vh;
  padding: 35px 50px 35px 100px;
  float: right;
  display: flex;
  align-items: center;
}

.titleCard h1 {
  word-spacing: 100vw; /* Force each word to be in a new line */
  letter-spacing: 5px;
  font-weight: 800;
  color: var(--white);
}

.titleImage {
  /*overflow: hidden;*/
  max-width: 60%;
  max-height: 40vh;
}
.titleImage img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  /*object-position: 50% 50%;*/
  /*max-width: 60vw;*/
  /*max-height: 250px;*/
}

/*.grid {*/
/*  display: grid;*/
/*  grid-template-columns: 1fr 1fr 1fr;*/
/*}*/

/*.grid .item {*/
/*  height: 200px;*/
/*}*/
