.textBox {
  text-transform: uppercase;
  text-align: right;
}

.title {
  color: var(--yellow);
  font-size: 4em;
  letter-spacing: 10px;
  font-weight: 900;
  margin: 0 0 6px 0;
}

.subtitle {
  color: var(--red);
  letter-spacing: 5px;
  font-weight: 200;
  font-size: 1.2em;
  margin: 0;
  font-family: 'Archivo Black', sans-serif;
}

.dilettante {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.dilettante img {
  position: relative;
}
