.socialContainer {
  display: grid;
  grid-gap: 1em;
  pointer-events: all;

  margin: 0;
  list-style: none;
  padding: 0;

  overflow: hidden;
  max-width: 300px;
  width: 80px;

  a {
    width: 100%;
  }

  .socialLink {
    text-orientation: sideways;
    writing-mode: vertical-lr;
    font-size: 1.1rem;
    font-weight: 600;
    font-variant: small-caps;
    fill: var(--yellow);
  }
}
